*{
    box-sizing: border-box;
}

body{
    background-color: #707080;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    margin: 0;

}
